body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {
    /* background: rgba(238, 240, 236, 1.0); */
}

ul,li{padding:0;margin:0;list-style:none;}

.main-wrap {
    width:1000px;
    margin:auto;
    min-width:1000px;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-bg {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    /*background: url(../images/reverse-bg.png) no-repeat;
    background-size: 100% 100%;*/
    /*background: rgba(238, 240, 236, 1.0);*/
}

.navbar .top-line {
    border-top:7px solid #009200;
}
.navbar .logo-area {
    padding-top: 15px;
    padding-left: 16px;
    width: 100%;
    height: 120px;
}

.navbar .logo-icon{
    width: 600px;
    display: inline-block;
}

.navbar .logo-icon object{
    height: 100%;
}

.navbar  .version-control {
padding-top: 5px;
text-align: right;
}

.navbar  .sign-area {
text-align: right;
padding-top: 1rem;
}

.chinese-version:before, .sign-up:before {
content: '';
height: 1rem;
display: inline-block;
vertical-align: middle;
border-right: 2px solid green;
margin:0 10px 0 10px;
}

.navbar .top-func-area {
padding-top: 30px;
width: 360px;
display: inline-block;
vertical-align: top;
text-align:right;
}

.navbar  .top-func-area .version-control .split_vertical {
text-align: center
}

.nav-menu {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    /*background: rgba(238, 240, 236, 1.0);*/
}

.nav-menu .top-line {
border-top:1px solid #cccccc;
margin: 0 0 3px 0;
opacity:0.5;
}

.nav-menu .nav-ul-bg {background-color: rgba(238, 240, 236, 1.0);}
.nav-menu ul, .nav-menu ul li {background-color: rgba(238, 240, 236, 1.0);}

.nav-menu ul li{
    width: 120px;
    text-align: center;
    display: inline-block;
}


.nav-menu a {
font-size: 1.5rem;
color: black;
text-decoration: none;
display: block;
white-space:nowrap;
}

.nav-menu .drop-btn {
    background-color: rgba(238, 240, 236, 1.0);
    padding: 16px 0 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.nav-menu .drop-down {
width: 100%;
position: relative;
display: inline-block;
}

.nav-menu .drop-down-content {
    display: none;
    position: absolute;
    background-color: #7ABC06;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.nav-menu .drop-down-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-menu .drop-down-content a:hover {
background-color: #3FA304;
}

.nav-menu .drop-down:hover .drop-down-content {
display: block;
}

.nav-menu .drop-down:hover .drop-btn {
    color: #FFFFFF;
    background-color: #3e8e41;
}

.nav-menu .drop-down:hover a{
color: #FFFFFF;
}

.triangle-down {
    display: inline-block;
    margin: 4px;
    border-right: 1px solid; border-bottom: 1px solid;
    width: 10px; height: 10px;
    transform: rotate(45deg);
}


.time-line .top-line {
border-top:7px solid #009200;
}

.operate-bg {
    /*background: rgba(238, 240, 236, 1.0);*/
}

.title-line
{
    margin-top: 10px;
    border-top: 1px solid #6699CC;
    width: 100px;
    margin-bottom: 20px;
}

.operate-item{
    width:120px;
    height:180px;
    display: inline-block;
    cursor: pointer;
    margin: 30px 60px 30px 60px;
}
.operate-item img {
    width: 120px;
    height: 135px;
}

.operate-center .operate-text{
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size:18px;
    font-weight: bold;
    color: rgba(11, 11, 11, 0.5)
}

.conference-topic {
    height:400px;
    /*background: rgba(238, 240, 236, 1.0);*/
    /*background-size: auto 100%;*/
}

.content_title{
    font-size: 24px;
    color: #595757;
    padding-top: 24px;
    font-weight: bold;
}


.place-hold-img-area {
    padding: 0 0 0 0;
}

.place-hold-img {
    boder: none;
    width: 100%;
    height: 100%;
    visibility:hidden;
    z-index: -9999;
}

.topic-img-area {
    width: 50%;
    margin: 0 auto;
}

.self-clock {
    margin-left: 150px;
}

.footer {
    background:#93a3b0;
    padding-bottom: 80px;
}
.footer-main-area {
    padding-top:50px;
}

.footer .footer-col-item {
    padding: 0 0 0 0;
}
.footer .footer-col-name {
    font-size: 1.6em;
    color:#585858;
    padding-bottom: 1rem;
}
.footer a {
    font-size: 1.2rem;
    /*color:#383838;*/
    color: rgba(56,56,56,0.5);
    text-decoration: none;
    display: block;
    white-space:nowrap;
    padding-bottom: 0.5rem;
}

.footer .qrcode img{
    width:100%;
}


@media (min-width: 992px) {

}