body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {
    background: rgba(238, 240, 236, 1.0);
}

ul,li{padding:0;margin:0;list-style:none;}

.main-wrap {
    width:1000px;
    margin:auto;
    min-width:1000px;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-bg {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    /*background: url(../images/reverse-bg.png) no-repeat;
    background-size: 100% 100%;*/
    /*background: rgba(238, 240, 236, 1.0);*/
}

.navbar .top-line {
    border-top:7px solid #009200;
}
.navbar .logo-area {
    padding-left: 16px;
    width: 100%;
    height: 120px;
}

.navbar .logo-icon{
    width: 610px;
    display: inline-block;
}

.navbar .logo-icon object{
    height: 100%;
}

.navbar  .version-control {
padding-top: 5px;
text-align: right;
}

.navbar  .sign-area {
text-align: right;
padding-top: 1rem;
}

.chinese-version:before, .sign-up:before {
    content: '';
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid green;
    margin:0 10px 0 10px;
}

.navbar .top-func-area {
    padding-top: 50px;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    text-align:right;
}

.navbar  .top-func-area .version-control .split_vertical {
text-align: center
}

.nav-menu {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    /*background: rgba(238, 240, 236, 1.0);*/
}

.split-line {
    border-top:1px solid #cccccc;
    margin: 0 0 3px 0;
    opacity:0.5;
}

.nav-menu .nav-ul-bg {background-color: rgba(238, 240, 236, 1.0);}
.nav-menu ul, .nav-menu ul li {background-color: rgba(238, 240, 236, 1.0);}

.nav-menu ul li{
    width: 120px;
    text-align: center;
    display: inline-block;
}


.nav-menu a {
font-size: 1.5rem;
color: black;
text-decoration: none;
display: block;
white-space:nowrap;
}

.nav-menu .drop-btn {
    background-color: rgba(238, 240, 236, 1.0);
    padding: 16px 0 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.nav-menu .drop-down {
    width: 100%;
    position: relative;
    display: inline-block;
}

.nav-menu .drop-down-content {
    display: none;
    position: absolute;
    background-color: #7ABC06;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}


.nav-menu .drop-down-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-menu .drop-down-content a:hover {
    background-color: #3FA304;
}

.nav-menu .drop-down:hover .drop-down-content {
    display: block;
}

.nav-menu .drop-down:hover .drop-btn {
    color: #FFFFFF;
    background-color: #3e8e41;
}

.nav-menu .drop-down:hover a{
color: #FFFFFF;
}

.triangle-down {
    display: inline-block;
    margin: 4px;
    border-right: 1px solid; border-bottom: 1px solid;
    width: 10px; height: 10px;
    transform: rotate(45deg);
}


.time-line .top-line {
border-top:7px solid #009200;
}

.operate-bg {
    /*background: rgba(238, 240, 236, 1.0);*/
}

.title-line
{
    margin-top: 10px;
    border-top: 1px solid #6699CC;
    width: 100px;
    margin-bottom: 20px;
}

.operate-item{
    width:120px;
    height:180px;
    display: inline-block;
    cursor: pointer;
    margin: 30px 60px 30px 60px;
}
.operate-item img {
    width: 120px;
    height: 135px;
}

.operate-center .operate-text{
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size:18px;
    font-weight: bold;
    color: rgba(11, 11, 11, 0.5)
}

.conference-topic {
    height:550px;
    /*background: rgba(238, 240, 236, 1.0);*/
    /*background-size: auto 100%;*/
}

.content_title{
    font-size: 24px;
    color: #595757;
    padding-top: 24px;
    font-weight: bold;
}

.conference-topic .cfr-topic-area {
    padding-top: 20px;
}

.conference-topic .cft-topic-list {
    position: relative;
}

.conference-topic .cfr-topic-item{
    position: absolute;
    width:312px;
    height:420px;
    opacity: 0.8;
    vertical-align: bottom;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    overflow:hidden;
    /*margin-top:30px;*/
    z-index:1;
    margin-bottom:0;

    transition: height 0.3s;
    -moz-transition: height 0.3s;	/* Firefox 4 */
    -webkit-transition: height 0.3s;	/* Safari 和 Chrome */
    -o-transition: height 0.3s;
}

.conference-topic .cfr-topic-item:hover{
    margin-top:0;
    height:450px;
    z-index: 99;
    opacity: 1.0;
}
.conference-topic .cfr-topic-item img{
    width:100%;
    height:100%;
    vertical-align: bottom;
}


#tab-0 {
    z-index:7;
}

#tab-1 {
    z-index:6;
    margin-left:120px;
}

#tab-2 {
    z-index:5;
    margin-left:240px;
}

#tab-3 {
    z-index:4;
    margin-left:360px;
}

#tab-4 {
    z-index:3;
    margin-left:480px;
}

#tab-5 {
    z-index:2;
    margin-left:600px;
}

#tab-6 {
    z-index:1;
    margin-left:720px;
}


.count-down {
    margin-top: 30px;
}

.self-clock {
    margin: 50px 0 50px 150px;
}

.footer {
    background:#93a3b0;
}
.footer .footer-wrap {
    margin:auto;
    width: 1200px;
    height: 270px;
    position: relative;
}

.footer .footer-main-area {
    padding-top: 60px;
}

.footer .footer-col-item {
    display: inline-block;
    vertical-align:top;
    width:350px;
}
.footer .footer-col-name {
    font-size: 1.6em;
    color:#585858;
    padding-bottom: 1rem;
}
.footer a {
    font-size: 1.2rem;
    /*color:#383838;*/
    color: rgba(56,56,56,0.5);
    text-decoration: none;
    display: block;
    white-space:nowrap;
    padding-bottom: 0.5rem;
}

.footer .footer-qr-item {
    width:120px;
    height:120px;
}
.footer .qrcode img{
    width:100%;
}

.backToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 36px;
    color: rgba(0,0,0,0.5);
    width: 60px;
    padding: 0 0 5px 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid rgba(222,222,222,0.8);
    background: rgba(238, 240, 236, 1.0);
}

.backToTop:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}

#sign-out {
    width: 30px;
    cursor: pointer;
    color: #0066cc;
    display: inline-block;
}