.info-center {
    background: rgba(238, 240, 236, 1.0);
}

.info-item {
    position: relative;
    padding-top: 20px;
}

.info-item .image {
    display: block;
    width: 100%;
    height: auto;
}

.info-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(0);
    transition: .3s ease;
}

.info-item:hover .overlay {
    transform: scale(1)
}

.info-item .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}