.info-center {
    /*background: rgba(238, 240, 236, 1.0);*/
}

.info-main-area {
    margin-top:20px;
}

.info-item {
    width: 300px;
    height: 330px;
    margin: 0 15px 0 15px;
    display: inline-block;
    background-color: #FFFFFF;
    overflow: hidden;

}

.info-item .info-title {
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: rgba(22, 22, 22, 0.5);
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}

.image-cover {
    width:300px;
    height: 300px;
    cursor: pointer;
}
.image-cover img{
    position: absolute;
    height: 300px;
    width: 300px;
    margin-bottom: 0;
    /*vertical-align: bottom;*/
}

.image-locate{
    position: relative;
}

.info-content {
    position: absolute;
    background: #FFFFFF;
    height: 0;
    width: 300px;

}

.content-value {
    width: 300px;
    height: 300px;
    font-size: 16px;
    /*display: table-cell;*/
    padding: 10px 10px 0 10px;
    text-indent: 40px;
    vertical-align: middle;
    text-align: justify;
    text-justify: inter-ideograph;/*IE*/
}

.content-cover {
    color: rgba(22, 22, 22, 0.5);
}
.image-cover:hover img{
    bottom: -300px;
    height: 0;

    vertical-align: bottom;
    transition: height 0.5s;
    -moz-transition: height 0.5s;	/* Firefox 4 */
    -webkit-transition: height 0.5s;	/* Safari 和 Chrome */
    -o-transition: height 0.5s;
/*
    transform: rotatex(180deg) translateY(-300px);
    -moz-transform: rotatex(180deg) translateY(-300px);
    -webkit-transform: rotatex(180deg) translateY(-300px);
    -o-transform: rotatex(180deg) translateY(-300px);

    transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    */
}