.slider-picturer {
    padding: 0 0 0 0;
    height: 100%;
    /*width: 100%;*/
    /*background: rgba(238, 240, 236, 1.0);*/
}

.slider-wrap * {box-sizing: border-box}
.slider-wrap  {font-family: Verdana, sans-serif; margin:0}
.slider-wrap .mySlides {display: block;}
.slider-wrap img {
    vertical-align: middle;
    height: 100%;
    /*width: 100%;*/
}
.slider-wrap .windy-demo img{
    height: 100%;
    margin:0 auto;
}
.slider-wrap {
    margin:auto;
    width: 1200px;
    height: 500px;
    position: relative;
}

/* Slideshow container */
.slider-wrap .slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider-wrap .slideshow-container .mySlides{
    width: 100%;
    height: 100%;
}

.slider-picture{
    height: 450px;
}

/* Next & previous buttons */
.slider-wrap .prev, .slider-wrap .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 55px;
    padding-left: 15px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border:1px solid rgba(222,222,222,0.8);
    background-color: rgba(66,66,66,0.8);
    margin-left:7px;
    text-decoration:none;
}

/* Position the "next button" to the right */
.slider-wrap .next {
    right: 0;
    padding-left: 20px;
    margin-right:7px;
    /*border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.slider-wrap .prev:hover, .slider-wrap .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slider-wrap .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-decoration:none;
}

.slider-wrap .slider-dot {
    text-align: center;
    position:absolute;
    bottom: 0;
    z-index:99;
    margin: auto;
    left:450px;
}


/* The dots/bullets/indicators */
.slider-wrap .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-wrap .active, .slider-wrap .dot:hover {
    background-color: rgba(78, 163, 171, 1.0);
    text-decoration:none;
}

/* Fading animation */
.slider-wrap .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slider-wrap .prev, .slider-wrap .next,.slider-wrap .text {font-size: 11px}
}