body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 span {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

ul,li{ padding:0;margin:0;list-style:none}

.main-wrap {
    width:1000px;
    margin:auto;
    min-width:1000px;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-bg {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    /*background: url(../images/reverse-bg.png) no-repeat;
    background-size: 100% 100%;*/
    /*background: rgba(238, 240, 236, 1.0);*/
}

.navbar .top-line {
    border-top:7px solid #009200;
}
.navbar .logo-area {
    padding-left: 16px;
    width: 100%;
    height: 120px;
}

.navbar .logo-icon{
    width: 610px;
    display: inline-block;
}

.navbar .logo-icon object{
    height: 100%;
}

.navbar  .version-control {
    padding-top: 5px;
    text-align: right;
}

.navbar  .sign-area {
    text-align: right;
    padding-top: 1rem;
}

.chinese-version:before, .sign-up:before {
    content: '';
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid green;
    margin:0 10px 0 10px;
}

.navbar .top-func-area {
    padding-top: 50px;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    text-align:right;
}

.navbar  .top-func-area .version-control .split_vertical {
    text-align: center
}

.necessary-tips {
    color: #ee1111;
}

.user-main-area .top-line{
    border-top:2px solid rgba(120,120,120,0.5);
}

.user-main-area .user-nav-area {
    vertical-align: top;
    display: inline-block;
    width:200px;
    margin-bottom: 2rem;
}

.user-main-area .article-related{
    padding-left:0;
    border-top:1.5rem solid #7ABC06;
    border-left:1.5rem solid #7ABC06;
}

.user-main-area .nav-left-orange{
    border-left: 0.5rem  solid rgba(240, 162, 85, 1.0);
}

.user-main-area .user-nav-item {
    text-align: left;
    font-size: 1.5rem;
    padding:1.5rem 0 1.5rem 2.4rem;
    background-color: rgba(230, 230, 230, 0.5);
    border-bottom: 1px solid rgba(50, 50, 50, 0.8);
    border-right: 1px solid rgba(239, 239, 239, 0.5);
    cursor: pointer;
}

.user-main-area .no-bottom-border {
    border-bottom: none;
}

.user-main-area .user-nav-area .active {
    background-color: #FFFFFF;
}

.user-main-area .user-nav-area .user-nav-bottom {
    border-top: 1px solid #7ABC06;
    text-align: left;
    font-size: 1.5rem;
    background-color: rgba(229, 234, 221, 1.0);
}

.user-main-area .user-nav-bottom-item {
    padding:1.5rem 0 1.5rem 4.4rem;
    border-bottom: 1px solid rgba(50, 50, 50, 0.8);
    cursor: pointer;
}
.user-main-area .user-nav-bottom-item-active {
    background-color: #9BCE4A;
    color:#ffffff;
    border:1px solid #ffffff;
}

.user-main-area .user-nav-area .forbid {
    cursor: not-allowed;
}

.user-main-area .user-nav-bottom .del-bottom-border {
    border-bottom: none;
}



.user-main-area .user-body-area{
    display:inline-block;
    width: 795px;
}
.user-main-area .user-wrap-area {
    display: inline-block;
    vertical-align: top;
    width: 795px;
}

.user-main-area .user-wrap-tab a{
    text-decoration: none;
}

.user-main-area .user-wrap-area .user-wrap-tab {
    float:right;
    vertical-align: top;
    display: inline-block;
    width:100px;
    padding:0.5rem 0 0.5rem 0;
    font-size: 20px;
    text-align: center;
}

.user-main-area .user-wrap-area .user-wrap-tab:hover {
    background: #7ABC06;
    color: #FFFFFF;
    cursor: pointer;
}

.user-main-area .user-wrap-area .user-wrap-tab:hover a{
    color: #FFFFFF;
}

.user-main-area .user-wrap-area .tab-active {
    vertical-align: top;
    display:inline-block;
    width:100px;
    background:rgba(92, 160, 47, 1.0);
    color: #FFFFFF;
}
.user-main-area .user-wrap-area .tab-active:hover {
    background:rgba(92, 160, 47, 1.0);
    color: #FFFFFF;
    /*cursor: default;*/
}


.user-main-area .user-center-index{
    padding-left:50px;
    width:700px;
}

.user-main-area .welcome-tips-area {
    padding-top: 2rem;
}
.user-main-area .welcome-tips-item {
    line-height: 1.8rem;
    font-size: 1.8rem;
}

.user-main-area .manu-check-area{
    margin-top:80px;
}

.user-main-area .title-area {
    display: block;
}
.user-main-area .title-area-text {
    width: auto;
    float: left;
    font-size: 2rem;
    border-bottom: 1px solid #6699CC;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}



.user-main-area .manu-list a {
    text-decoration: none;
    color: #222222;
}
.user-main-area .manu-list {
    border:1px solid rgba(220, 220, 220, 1.0);
    margin-top:20px;
    box-shadow: 10px 10px 5px #CCCCCC;
}

.user-main-area .manu-item {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    width: 650px;
    cursor: pointer;
}

.user-main-area .manu-item:hover {
    background-color: rgba(220, 220, 220, 01.0);
}

.user-main-area .manu-item-odd {
    background-color: rgba(220, 220, 220, 0.5)
}

.user-main-area .manu-item-even {
    font-size: 1.5rem;
    background-color: rgba(240, 240, 240, 0.5)
}

.user-main-area .manu-item-title {
    display: inline-block;
    width: 500px;
    color: rgba(50, 50, 50, 0.8);
    overflow: hidden;
    white-space:nowrap;
    padding: 0 0 0 0;
}

.user-main-area .manu-item-date {
    display: inline-block;
    color: rgba(90, 90, 90, 0.8);
    float: right;
    border-left: 2px solid rgba(92, 160, 47, 0.8);
    text-align: right;
    overflow: hidden;
    white-space:nowrap;
    padding: 0 0 0 0;
}

.info-center-area{
    padding-top: 80px;
}

.summary-submit{
    padding: 0 100px 0 50px;
}

.btn-select-file {
    background-color: rgb(239, 239, 239);
}

.summary_submit_field {
    font-size: 15px;
    /*width: 90px;*/
    text-align: center;
}

.input-group-self {
    padding: 1rem 0 1rem 0;
}

.summary_submit_button_area {
    margin-top: 2rem;
}

.btn-summary {
    margin-left:300px;
    font-size: 2rem;
    line-height: 2rem;
    width: 100px;
}

.footer {
    bottom:0;
    background:#93a3b0;
}
.footer .footer-wrap {
    margin:auto;
    width: 1200px;
    height: 270px;
    position: relative;
}

.footer .footer-main-area {
    padding-top: 60px;
}

.footer .footer-col-item {
    display: inline-block;
    vertical-align:top;
    width:350px;
}
.footer .footer-col-name {
    font-size: 1.6em;
    color:#585858;
    padding-bottom: 1rem;
}
.footer a {
    font-size: 1.2rem;
    /*color:#383838;*/
    color: rgba(56,56,56,0.5);
    text-decoration: none;
    display: block;
    white-space:nowrap;
    padding-bottom: 0.5rem;
}

.footer .footer-qr-item {
    width:120px;
    height:120px;
}
.footer .qrcode img{
    width:100%;
}

/******* detail modal ******/
#manuDetailModal .detail-modal-field{
    text-align: center;
    display: inline-block;
    width: 80px;
    border-right: 1px solid rgba(55, 55, 55, 0.4);
}


#manuDetailModal #download_abstract{
    cursor:pointer;
}

/******* audit.html******/

.user-main-area {
    min-height: 840px;
}
.user-main-area .table th, .user-main-area .table td {
    text-align: center;
    vertical-align: middle!important;
}

.user-main-area .table-area {
    margin-top: 50px;
}